/* 検索ボックス周り */
.search-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
}

.box {
  display: inline-block;
  position: relative;
}

input {
  padding-bottom:1px;
  padding: 10px;
  border: 1px solid #c0c0c0;
  outline: 1px;
  width: 190px;
  height: 37px;
  box-sizing: border-box;
  background-color: white;
}

select {
  padding-bottom:1px;
  padding: 10px;
  border: 1px solid #c0c0c0;
  outline: 1px;
  width: 120px;
  height: 37px;
  box-sizing: border-box;
  background-color: white;
}

button {
  padding-bottom:1px;
  border: 1px solid #c0c0c0;
  background-color: #f0f0f0;
  cursor: pointer;
  height: 37px;
  width: 68px;
}
button:hover {
  background-color: #e0e0e0;
}

.suggestions {
  border: 1px solid transparent;
  max-height: 150px;
  overflow-y: auto;
  margin-top: 5px;
  position: absolute;
  background-color: white;
  z-index: -1;
  width: 100%; /* 検索ボックスと同じ幅にする */
}

.active-border {
  border: 1px solid #c0c0c0; /* サジェストボックスの枠線を表示 */
  z-index: 1000; /* サジェストボックスのz-indexを上げる */
}

.box {
  position: relative; /* suggestionsを検索ボックスの下に配置するために必要 */
}

.suggestions div {
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.suggestions div:hover {
  background-color: #f0f0f0;
}

.table-wrapper {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  margin-top: 20px;
}

#resultTable,
#summaryTable {
  width: 1200px;
  table-layout: fixed;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ccc;
  padding: 5px;
  text-align: center;
  height: 30px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

th {
  background-color: #f4f4f4;
}

@media screen and (max-width: 1300px) {
  input, select {
    font-size: 14px;
    width: 100%;
  }

  .box {
    flex: 100%;
  }

  #resultTable,
  #summaryTable {
    width: 100%;
  }

  th, td {
    font-size: 12px;
    padding: 3px;
  }
}
